.m-criteriaSelector__content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.m-criteriaSelector__item {
    position: relative;
}

.m-criteriaSelector__label {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    background-color: var(--color-grey-6);
    color: var(--color-grey-3);
    border: 1px solid transparent;
    cursor: pointer;
    transition: opacity 200ms $easing-standard,
        border-color 200ms $easing-standard;

    &[data-status='C'] {
        background-color: var(--secondary-color-green-soft);
        color: var(--secondary-color-green);
    }

    &[data-status='NC'] {
        background-color: var(--secondary-color-red-soft);
        color: var(--secondary-color-red);
    }

    &[data-status='NA'] {
        background-color: var(--secondary-color-orange-soft);
        color: var(--secondary-color-orange);
    }

    &:not(:hover) {
        opacity: 0.8;
    }

    &:hover {
        border-color: currentcolor;
    }
}

.m-criteriaSelector__icon {
    width: 16px;
    height: 16px;
}

.m-criteriaSelector__checkbox {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;

    &:checked {
        outline: none;

        + .m-criteriaSelector__label {
            opacity: 1;
            border-color: currentcolor;
        }
    }
}
