.o-topic {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.o-topic__top {
    position: relative;
    width: 100%;
    padding: 8px;
    overflow: hidden;
    border-radius: 6px;
    background-color: $color-white;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
    z-index: 1;

    &.-sticky {
        position: absolute;
        top: var(--topic-top, 0);
    }

    &:not(.-sticky) {
        opacity: 0;
    }
}

.o-topic__top__icon {
    position: absolute;
    top: 50%;
    right: -4px;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    padding: 6px;
    color: var(--color-grey-3);
    background-color: var(--color-grey-6);
    transform: translateY(-50%) rotate(26deg);
    z-index: -1;
}

.o-topic__criteriaList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;
}
