.o-highlightList {
    box-shadow: 0 0 8px rgba($color-black, 0.2);
    background-color: var(--color-grey-6);
    overflow: hidden;
}

.o-highlightList__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    background-color: var(--color-grey-2);
    color: $color-white;
}

.o-highlightList__closeButton {
    padding: 8px;
}

.o-highlightList__closeButton__icon {
    width: 24px;
    height: 24px;
}

.o-highlightList__title {
    flex-grow: 1;
    padding: 8px;
    font-size: 12px;
    font-weight: 700;
}

.o-highlightList__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    max-height: min(calc(100vh - 64px * 2), 500px);
    overflow: auto;
}

.o-highlightList__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 8px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--color-grey-5);
    background-color: $color-white;
}

.o-highlightList__button {
    padding: 8px 0;

    &.-disabled {
        .o-highlightList__buttonIcon {
            background-color: var(--color-grey-6);
            color: var(--color-grey-3);
            cursor: help;
        }
    }
}

.o-highlightList__buttonIcon {
    background-color: var(--secondary-color-green-soft);
    color: var(--secondary-color-green);
    border-radius: 8px;
    padding: 4px;
    width: 24px;
    height: 24px;
}

.o-highlightList__content {
    display: grid;
    grid-template-areas: 'tag checkbox'
        'text checkbox'
        'status checkbox';
    grid-template-columns: 1fr auto;
    gap: 4px 8px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;
}

.o-highlightList__tag {
    justify-self: flex-start;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--secondary-color-orange-soft);
    color: var(--secondary-color-orange);
    font-size: 12px;
    font-weight: 700;
    grid-area: tag;
}

.o-highlightList__text {
    grid-area: text;
    font-size: 12px;
    line-height: 1.2;

    img {
        width: auto;
        height: auto;
        max-width: 140px;
        max-height: 140px;
        object-fit: contain;
    }
}

.o-highlightList__checkbox {
    grid-area: checkbox;
}
