{% set componentClass = 'l-extension' %}
{% set defaultTag = 'div' %}
{% set attributeList = attributeList is defined ? attributeList : {} %}
{% set attributeList = attributeList|merge({'id': 'arneo-accessibility-checker', 'class': (attributeList.class is defined ? componentClass ~ ' ' ~ attributeList.class : componentClass)}) %}
{% set tag = tag is defined ? tag : defaultTag %}

<{{ tag }}{% for attribute, value in attributeList %} {{ attribute }}="{{ value }}"{% endfor %}>
    {% include '@organism/header/header.html.twig' with {
      attributeList: {
        class: 'l-extension__header',
      },
      version: version,
    } only %}
    <aside class="l-extension__aside -hiddenClosed -expanded">
        {% include '@molecule/topic-list/topic-list.html.twig' with {
          topicList: topicList,
        } only %}
    </aside>
    <main class="l-extension__main -hiddenClosed">
        {% include '@organism/summary/summary.html.twig' with {
          summary: {
            scoreList: {
              C: 42,
              NC: 24,
              NA: 34,
              NT: 18
            }
          },
        } only %}
        <div class="l-extension__filters">
            <p class="l-extension__filters__title">Filtrer par :</p>
            {% include '@molecule/filter-list/filter-list.html.twig' with {
              filterList: filterList,
            } only %}
        </div>
        <ul class="l-extension__topicList">
{% for topic in topicList %}
            {% include '@organism/topic/topic.html.twig' with {
              topic: topic,
              tag: 'li',
            } only %}
{% endfor %}
       </ul>
    </main>
</{{ tag }}>
