<style>.documentTitle {
    font-size: rem(17.5px);
    font-weight: bold;
    margin-top: 1rem;
    border-bottom: 1px solid rgb(83 83 99 / 25%);
    padding-bottom: 0.5rem;
}

.documentContent {
    margin: 1rem;
}

.rangeInput {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.rangeInput_wrapper {
    width: 250px;
}

.rangeInput_value {
    margin-left: 20px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.rangeInput_wrapper input[type='range'] {
    appearance: none;
    width: 100%;
    background: transparent;
}

.rangeInput_wrapper input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #252525;
    height: 30px;
    width: 15px;
    border-radius: 3px;
    background: #252525;
    cursor: pointer;
    margin-top: -13px;
}

.rangeInput_wrapper input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background-color: rgb(254, 94, 85);
    border-radius: 3px;
    border: 1px solid #252525;
    box-shadow: 1px 1px 1px #252525;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.icons_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 17%;
    font-size: 12px;
}

.icons_icon svg {
    display: inline-block;
    vertical-align: text-bottom;
    max-width: 40px;
    height: 40px;
    margin-bottom: 4px;
}

.colorsList {
  margin: 32px 0;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(auto-fill, 130px);
}

.colorsList_item {
  list-style: none;
  text-align: center;
}

.colorsList_itemColor {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto 10px;
    border: 2px solid #000;
}

.colorsList_itemName {
    font-size: 12px;
    color: #000;
}

.fontsListItem {
    margin-top: 2rem;
    font-size: 18px;
    color: #000;
}
</style><div class="documentContent"><h2 class="documentTitle">Icons</h2><div class="rangeInput"><p class="rangeInput_wrapper"><input type="range" min="6" max="120" value="50" id="styleguide-icon-size-slider" /></p>
        <p class="rangeInput_value" id="styleguide-icon-size-value">50px</p></div>
        <ul class="icons"><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-arneo-logo"/>
        </svg>
        </div>arneo-logo</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-arrow-left"/>
        </svg>
        </div>arrow-left</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-check-circle"/>
        </svg>
        </div>check-circle</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-chevron"/>
        </svg>
        </div>chevron</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-cross"/>
        </svg>
        </div>cross</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-external-link"/>
        </svg>
        </div>external-link</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-filter"/>
        </svg>
        </div>filter</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-magnify-glass"/>
        </svg>
        </div>magnify-glass</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-refresh"/>
        </svg>
        </div>refresh</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-settings"/>
        </svg>
        </div>settings</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-speed"/>
        </svg>
        </div>speed</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-status-c"/>
        </svg>
        </div>status-c</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-status-na"/>
        </svg>
        </div>status-na</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-status-nc"/>
        </svg>
        </div>status-nc</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-status-nt"/>
        </svg>
        </div>status-nt</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-colors"/>
        </svg>
        </div>topic-colors</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-consultation"/>
        </svg>
        </div>topic-consultation</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-forms"/>
        </svg>
        </div>topic-forms</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-frames"/>
        </svg>
        </div>topic-frames</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-images"/>
        </svg>
        </div>topic-images</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-links"/>
        </svg>
        </div>topic-links</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-mandatory"/>
        </svg>
        </div>topic-mandatory</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-multimedia"/>
        </svg>
        </div>topic-multimedia</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-navigation"/>
        </svg>
        </div>topic-navigation</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-presentation"/>
        </svg>
        </div>topic-presentation</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-scripts"/>
        </svg>
        </div>topic-scripts</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-structure"/>
        </svg>
        </div>topic-structure</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-topic-tables"/>
        </svg>
        </div>topic-tables</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-visibility-off"/>
        </svg>
        </div>visibility-off</li><li class="icons_icon"><div class="icons_image">
        <svg aria-hidden="true" class="a-icon">
          <use xlink:href="/dist/icons.svg#i-visibility-on"/>
        </svg>
        </div>visibility-on</li></ul><h2 class="documentTitle">Colors</h2><ul class="colorsList"><li class="colorsList_item"><span style="background-color: #252525;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-black<br />(#252525)</span></li><li class="colorsList_item"><span style="background-color: #333;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-grey-darker<br />(#333)</span></li><li class="colorsList_item"><span style="background-color: #4f4f4f;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-grey-dark<br />(#4f4f4f)</span></li><li class="colorsList_item"><span style="background-color: #828282;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-grey<br />(#828282)</span></li><li class="colorsList_item"><span style="background-color: #bdbdbd;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-grey-medium<br />(#bdbdbd)</span></li><li class="colorsList_item"><span style="background-color: #e0e0e0;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-grey-light<br />(#e0e0e0)</span></li><li class="colorsList_item"><span style="background-color: #f2f2f2;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-grey-lighter<br />(#f2f2f2)</span></li><li class="colorsList_item"><span style="background-color: #fff;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-white<br />(#fff)</span></li></ul><ul class="colorsList"><li class="colorsList_item"><span style="background-color: #fe5e55;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-coral<br />(#fe5e55)</span></li><li class="colorsList_item"><span style="background-color: #ffe4e0;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-soft-pink<br />(#ffe4e0)</span></li><li class="colorsList_item"><span style="background-color: #fff3f2;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-light-pink<br />(#fff3f2)</span></li></ul><ul class="colorsList"><li class="colorsList_item"><span style="background-color: #219653;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-green<br />(#219653)</span></li><li class="colorsList_item"><span style="background-color: #e4f2ea;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-green-soft<br />(#e4f2ea)</span></li><li class="colorsList_item"><span style="background-color: #eb5757;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-red<br />(#eb5757)</span></li><li class="colorsList_item"><span style="background-color: #fceaea;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-red-soft<br />(#fceaea)</span></li><li class="colorsList_item"><span style="background-color: #de6106;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-orange<br />(#de6106)</span></li><li class="colorsList_item"><span style="background-color: #fdf2e9;" class="colorsList_itemColor"></span><span class="colorsList_itemName">color-orange-soft<br />(#fdf2e9)</span></li></ul><ul class="colorsList"><li class="colorsList_item"><span style="background-color: #252525;" class="colorsList_itemColor"></span><span class="colorsList_itemName">text-color<br />(color-black)</span></li><li class="colorsList_item"><span style="background-color: #e0e0e0;" class="colorsList_itemColor"></span><span class="colorsList_itemName">image-background<br />(color-grey-light)</span></li><li class="colorsList_item"><span style="background-color: #fe5e55;" class="colorsList_itemColor"></span><span class="colorsList_itemName">primary-color-1<br />(color-coral)</span></li><li class="colorsList_item"><span style="background-color: #ffe4e0;" class="colorsList_itemColor"></span><span class="colorsList_itemName">secondary-color-1<br />(color-soft-pink)</span></li><li class="colorsList_item"><span style="background-color: #eb5757;" class="colorsList_itemColor"></span><span class="colorsList_itemName">error-color<br />(color-red)</span></li></ul><h2 class="documentTitle">Fonts</h2><div class="rangeInput"><p class="rangeInput_wrapper"><input type="range" min="6" max="72" value="18" id="styleguide-font-size-slider" /></p>
        <p class="rangeInput_value" id="styleguide-font-size-value">18px</p></div></div><script>const iconSizeSlider = document.getElementById('styleguide-icon-size-slider');

if (iconSizeSlider) {
  iconSizeSlider.addEventListener('change', function (e) {
    updateIconsize(e.currentTarget.value);
  });
  iconSizeSlider.addEventListener('input', function (e) {
    updateIconsize(e.currentTarget.value);
  });
}
const fontSizeSlider = document.getElementById('styleguide-font-size-slider');
if (fontSizeSlider) {
  fontSizeSlider.addEventListener('change', function (e) {
    updateFontsize(e.currentTarget.value);
  });
  fontSizeSlider.addEventListener('input', function (e) {
    updateFontsize(e.currentTarget.value);
  });
}

function updateIconsize(value) {
  const iconSize = value + 'px';
  document.getElementById('styleguide-icon-size-value').innerText = iconSize;
  [].forEach.call(
    document.querySelectorAll('.icons_image, .icons_image svg'),
    function (el) {
      el.style.height = iconSize;
      el.style.maxWidth = iconSize;
    },
  );
}

function updateFontsize(value) {
  const fontSize = value + 'px';
  document.getElementById('styleguide-font-size-value').innerText = fontSize;
  [].forEach.call(document.querySelectorAll('.fontsListItem'), function (el) {
    el.style.fontSize = fontSize;
  });
}
</script>